@model FirstProject.Models.Patienthistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patienthistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChronicDiseases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChronicDiseases)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicinesOnRegularBasis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicinesOnRegularBasis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousVisitsToTheClinicForTheSameReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousVisitsToTheClinicForTheSameReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SensitivityToAnything)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SensitivityToAnything)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousExaminations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousExaminations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Patientid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Patienthistoryid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
