@model IEnumerable<Employee>
@{
    Layout = "_HomeLayout";
}



<div class="s01">
    <form method="post" action="Search" style="margin-top:25px;">

        <div class="inner-form">
            <div class="row" style="margin-left:500px;">
                <div class="input-field first-wrap">
                    <input name="fname" type="text" placeholder="First name" />
                </div>

                <div class="input-field second-wrap" style="margin-left:10px">
                    <input name="lname" type="text" placeholder="Last Name" />
                </div>


                <div class="input-field third-wrap" style="margin-left:10px">
                    <button class="btn-search" type="submit" style="color:white;background-color:dodgerblue">Search</button>
                </div>
            </div>
        </div>
    </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />



    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />



    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>



    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate">

                    <div class="staff">
                        <div class="img mb-4" style="background-image: url(@Url.Content("~/images/" + @item.Imgpath));"></div>
                        <div class="info text-center">
                            <h3><a href="teacher-single.html">@item.Fname @item.Lname</a></h3>
                            <span class="position">@item.Specialist</span>
                            <div class="text">
                                <p>@item.Abouthim</p>
                                <ul class="ftco-social">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

