@model IEnumerable<FirstProject.Models.Footer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Twitterlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebooklink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagramlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Youtubelink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Textabout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Twitterlink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebooklink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagramlink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Youtubelink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Textabout)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Footerid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Footerid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Footerid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
