@model FirstProject.Models.Home

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Websitename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Websitename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imgslider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imgslider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Textimg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Textimg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Openingday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Openingday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Openinghour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Openinghour)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Homeid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
