@model IEnumerable<FirstProject.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Websitename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgslider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Textimg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Openingday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Openinghour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@Url.Content("~/images/"+item.Logo) style="height: 52px; width: 52px; border-radius: 20%;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Websitename)
            </td>
            <td>
                <img src=@Url.Content("~/images/"+item.Imgslider) style="height: 75px; width: 75px; border-radius: 20%;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Textimg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openingday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openinghour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Homeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Homeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Homeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
