@model IEnumerable<FirstProject.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Billtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Billtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Appointmentid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Paymentid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub.Subid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Patientid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Billid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Billid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Billid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
